#Intellij IDEA
# User-specific stuff:
.idea
.idea/ant.xml
.idea/workspace.xml
.idea/dbnavigator.xml
.idea/findbugs-idea.xml
.idea/junitgenerator-prj-settings.xml
.idea/kotlinc.xml
.idea/sonarIssues.xml
.idea/sonarlint.xml
.idea/sonarSettings.xml
.idea/atlassian-ide-plugin.xml
.idea/tasks.xml
.idea/dictionaries
.idea/sonarlint
.idea/sonarlint/*
.idea/codeStyleSettings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/dataSources
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/libraries/Maven*

rebel.xml
jmeter.log
designpatterns.iml

.vagrant
.settings
.metadata
.checkstyle
bin
target
.pmd
.ruleset
.springBeans
eclipsebin

*.class
*.zip
*.gz
*.bak
*.log
*.box
*/gensrc/*
.DS_Store
.vlt*
*.swp
*~
*.jar
*.orig
*ruleset.xml

lib
classes
gensrc
testclasses

*.DS_Store
platformhome.properties

endpoint.properties

out


!gradle/wrapper/gradle-wrapper.jar
env/docker/db/dump/*.sql
hybris-ext/config/mq
.gradle/
build
